.*
!.gitignore
!.goreleaser.yml
!.github

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# File with credentials
accounts.json
account.json

/domru
/sslkeylogging.log
