---
name: Create release and publish packages

on:
  workflow_dispatch:
  push:
    branches:
      - dev
      - master

permissions:
  packages: write
  contents: write

jobs:
  tag:
    name: Tag
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.tag_version.outputs.new_tag }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Bump version and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

  release:
    name: Create release
    runs-on: ubuntu-latest
    needs: tag
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.22

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v5
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish_dockerhub:
    name: Publish DockerHub
    runs-on: ubuntu-latest
    needs: tag
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
      - uses: actions/setup-go@cdcb36043654635271a94b9a6d1392de5bb323a7 # v5.0.1

      - uses: ko-build/setup-ko@v0.6
        env:
          KO_DOCKER_REPO: ${{ secrets.DOCKERHUB_USERNAME }}/domru

      - env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
        run: |
          echo ${DOCKERHUB_TOKEN} | ko login --username=${DOCKERHUB_USERNAME} --password-stdin index.docker.io
          ko build --bare -t ${{ needs.tag.outputs.tag }}
